.skills-container{
  display: flex;
  font-family: _TINTIN;
  margin: auto;
  .skills-back{
    animation-name: fade;
    animation-delay: 1300ms;
  }
  ul{
    width: 120px;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    padding: 50px;
    h2{
      opacity: 0;
      text-align: center;
      animation: fade 1s;
      animation-delay: 1.7s;
      animation-fill-mode: forwards;
    }
    .skills-list-back{
      opacity: 0 !important;
      animation: fade;
      animation-delay: 1600ms;
      animation-fill-mode: forwards;
    }     
  }
  .skill{
    opacity: 0;
    display: flex;
    width: 120px;
    height: 120px;
    background-color: darkred;
    border-radius: 50%;
    color: aliceblue;
    transform: translate(200px);
    list-style-type: none;
    animation-name: comeToRight, bounce, fade;
    animation-timing-function: cubic-bezier(.71,.4,.42,1.5);
    animation-duration:  .7s;
    animation-fill-mode:  forwards;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 20px;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    span{
      text-align: center;
      width: min-content;
      height: min-content;
      opacity: 0;
      animation: fade .8s forwards 1s;
    }
    .rate-container{
      position: absolute;
      bottom: 0px;
      left: 5%;
      width: 90%;
      display: flex;
      .rate-star{
        margin: auto;
        width: 0;
        height: 0;
        object-position: center;
        animation: print-rate-stars .3s 1.1s ease forwards;
      }
      .rate-big-star{
        animation: print-rate-big-stars .3s 1.1s ease forwards;
      }
      .bottom-star{
        transform: translate(0, 12px);
      }
      .rate-star0{
        animation-delay: 1100ms;
      }
      .rate-star1{
        animation-delay: 1180ms;
      }
      .rate-star2{
        animation-delay: 1240ms;
      }
    }
  }
  .li0front{
    animation-delay: 0ms;
    //background-image: url("../../../src/assets/img/svgs/brands/html5.svg");
    //background-position: center;
  }
  .li1front{
    animation-delay: 150ms;
    //background-image: url("../../../src/assets/img/svgs/brands/css3.svg");
  }
  .li2front{
    animation-delay: 300ms;
    //background-image: url("../../../src/assets/img/svgs/brands/js-square.svg");
  }
  .li3front{
    animation-delay: 450ms;
    //background-image: url("../../../src/assets/img/svgs/brands/react.svg");
  }

  .li0back{
    animation-delay: 600ms;
    //background-image: url("../../../src/assets/img/svgs/brands/node-js.svg");
  }
  .li1back{
    animation-delay: 750ms;
  }
  .li2back{
    animation-delay: 900ms;
  }
}

@media screen and (max-width: 768px) {
  .skills-container{
    width: 100vw !important;
    margin: 0 !important;
  }
}

