#skills-container{
  display: flex;
  font-family: _TINTIN;
  margin: auto;
  min-height: 100vh;
  .skills-back{
    animation-name: fade;
    animation-delay: 1300ms;
  }
  ul{
    width: 120px;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    li{
      i{
        position: absolute;
        width: min-content;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        span{
          margin: auto;
          transform: rotate3d(0, 1, 0, -90deg);
          &.language{
            text-decoration: underline;
            font-style: normal;
          }
          &.derivated{
            font-style: italic;
          }
        }
      }
    }
    li:hover img {
      transform: rotate3d(0, 1, 0, 90deg);
      transition-duration: .2s;
      transition-timing-function: linear;
    } 
    li:hover span {
      transform: rotate3d(0, 1, 0, 0deg);
      transition-delay: .2s;
      transition-duration: .2s;
      transition-timing-function: linear;
    }
    h2{
      opacity: 0;
      text-align: center;
      animation: fade 1s;
      animation-delay: 1.7s;
      animation-fill-mode: forwards;
    }
    .skills-list-back{
      opacity: 0 !important;
      animation: fade;
      animation-delay: 1600ms;
      animation-fill-mode: forwards;
    }     
  }
  .skill{
    opacity: 0;
    display: flex;
    width: 120px;
    height: 120px;
    background-color: $secondary-color;
    border: $primary-color 2px solid;
    color: $ft-color-dark;
    border-radius: 50%;
    transform: translate(200px);
    list-style-type: none;
    animation-name: comeToRight, bounce, fade;
    animation-timing-function: cubic-bezier(.71,.4,.42,1.5);
    animation-duration:  .7s;
    animation-fill-mode:  forwards;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 20px;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    overflow: hidden;
    img{
      object-fit: contain;
      height: 90px;
      max-width: 90px;
      margin: auto;
      border-radius: 15px;
    }
  }


  .li0front{
    animation-delay: 0ms;
    background-position: center;
  }
  .li1front{
    animation-delay: 150ms;
  }
  .li2front{
    animation-delay: 300ms;
  }
  .li3front{
    animation-delay: 450ms;
  }

  .li0back{
    animation-delay: 600ms;
  }
  .li1back{
    animation-delay: 750ms;
  }
  .li2back{
    animation-delay: 900ms;
  }
}

@keyframes flip {
  to {transform: rotate3d(0, 1, 0, 0deg) !important;}
  from {transform: rotate3d(0, 1, 0, 90deg) !important;}
}

@media screen and (max-width: 768px) {
  .skills-container{
    width: 100vw !important;
    margin: 0 !important;
  }
}

