
$bk-color: rgb(195, 255, 255);
$primary-color: coral;
$secondary-color: #efe6e1;
$tertiary-color: aliceblue;
$ft-color-dark: black;
$ft-color-light: aliceblue;

@font-face{
	font-family: 'tintin';
	src : url('../assets/fonts/tintin_talking.ttf');
}
@font-face {
	font-family: '_TINTIN';
	src : url('../assets/fonts/tintinMAJ.ttf');
}
@font-face{
  font-family: "minecraft";
  src : url('../assets/fonts/minecraft.ttf')
}
@font-face{
  font-family: "item";
  src : url('../assets/fonts/Itim-Regular.ttf')
}
@font-face{
  font-family: "capriola";
  src : url('../assets/fonts/Capriola-Regular.ttf')
}
@font-face{
  font-family: "lato";
  src : url('../assets/fonts/Lato-Regular.ttf')
}

a{
  text-decoration: none;
}

.margin{
  margin: auto;
}

#root{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

html{
  background: $tertiary-color;
  font-family: item;
  scroll-behavior: smooth;
  body{
    margin: 0;
    background: $bk-color;
    //min-width: 100vh;
    head{
      font-family: "tintin";
      display: flex;
      flex-direction: column;
      min-width: 240px;
      height: 100vh;
      background: linear-gradient(-40deg, #fcfcfc, coral);
      animation-name: sidebar-showing;
      animation-timing-function: steps(25, start);
      animation-delay: 400ms;
      animation-fill-mode: forwards;
      animation-duration: 1200ms;
      z-index: 1;
    }
  }
  footer{
    font-family: "minecraft";
    color: $ft-color-dark;
    width: calc(100vw - 240px);
    left: 240px;
    height: min-content;
    position: absolute;
    bottom: 0;
  }
}


.bk-white{ background-color: white; }
.bk-grey{ background-color: grey;}

.ft-white{ color: white; }
.ft-grey{ color: lightgray;}
.ft-pink{ color: pink;}
.ft-whitesmoke{ color: whitesmoke; }
.ft-aliceblue{ color:  aliceblue; }
.ft-deepskyblue{ color: deepskyblue; }
.ft-sand{ color: #EDC9AF;}

.txt-center{ text-align: center;}

.italic{ font-style: italic;}

.w100{width: 100%;}

.flex{display: flex;}
.row{flex-direction: row;}
.min-content{height: min-content;}

@media screen and (max-width: 768px) {
  #root{
    flex-direction: column;
  }
  head{
    flex-direction: row !important;
    height: min-content !important;
    width: 100vw !important;
  }
  footer{
    left: 0 !important;
    width: 100vw !important;
    position: inherit !important;
  }
}